
@{
    ViewBag.Title = "委托记录";
}
<div class="main-content body-content">
   
        <div class="row">
            <div class="col-md-12">
                <ul class="nav navbar-nav">
                    <li class="btn active" id="NowEntrust">当前委托</li>
                    <li class="btn" id="HistroyEntrust">历史委托</li>
                    <li class="btn" id="SuccessfulEntrust">成交记录</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="EntrustTable">

            </div>
        </div>
    </div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrapplugin")
<script>
    $(document).ready(function () {
        var $EntrustTable = $('#EntrustTable');

        $EntrustTable.bootstrapTable({
            
            onClickRow: function (row) {
                if (row.IsSuccess == 0) {
                    var addDialog = new BootstrapDialog({
                        title: '撤销 ',
                        message: "要撤销该委托吗？",
                        buttons: [{
                            label: '确定',
                            action: function (dialogItself) {
                                $.post("@Url.Action("CancelEntrust")", { id: row.ID, amount: row.RemainingAmount,coinname:row.CoinToCoin});
                                dialogItself.close();
                                $EntrustTable.bootstrapTable("refresh");
                            }
                        }],
                    });
                    addDialog.open();
                }
            },
            showRefesh: "true",
            method: "post",
            pagination: true,
            sidePagination: "client",
            pageList: "[5,10]",
            url:"@Url.Action("NowEn")",
            columns:[
                {title:"委托单号",field:"ID" ,width: "160px"},
            { title: "委托时间", field: "EntrustTime", formatter: function (value) { return moment(value).format("YY-MM-DD HH-mm-ss") },width:"160px" },
            { title: "交易对", field: "CoinToCoin", width: "160px" },
            { title: "价格", field: "Price", formatter: function (value) { return value.toFixed(8) }, width: "160px" },

            { title: "总量", field: "TotalAmount", width: "160px" },
            { title: "已出售", field: "SelledAmount", width: "160px" },
            { title: "剩余", field: "RemainingAmount", width: "160px" },
              { title: "状态", field: "IsSuccess", formatter:function(value) { if (value == -1) return value = "已撤销"; if (value == 1) return value = "已成交"; if (value == 0) return value = "正在交易中"; } }

            ]
        });
        $('#NowEntrust').click(function () {
            $.ajax(
         {
             type: "post",
             url: "@Url.Action("NowEn")",
             contentType: 'application/json',
             dataType: "json",
             success: function (data) {
                 $EntrustTable.bootstrapTable('load', data);
             },
             error: function () {
                 alert("错误");
             }
         }
              )
            $('#NowEntrust').addClass("active");
            $('#HistoryEntrust').removeClass("active");
            $('#SuccessfulEntrust').removeClass("active");
        });

        $('#HistroyEntrust').click(function () {
            $.ajax(
         {
             type: "post",
             url: "@Url.Action("HistoryEn")",
                contentType: 'application/json',
            dataType: "json",
            success: function (data) {
                $EntrustTable.bootstrapTable('load', data);
            },
            error: function () {
                alert("错误");
            }
        }
              )
            $('#HistoryEntrust').addClass("active");
            $('#NowEntrust').removeClass("active");
            $('#SuccessfulEntrust').removeClass("active");
        });

        $('#SuccessfulEntrust').click(function () {
            $.ajax(
         {
             type: "post",
             url: "@Url.Action("SuccessfulEn")",
                contentType: 'application/json',
            dataType: "json",
            success: function (data) {
                $EntrustTable.bootstrapTable('load', data);
            },
            error: function () {
                alert("错误");
            }
        }
              )
            $('#SuccessfulEntrust').addClass("active");
            $('#NowEntrust').removeClass("active");
            $('#HistoryEntrust').removeClass("active");
    })
    })

</script>
}