@model TTG.Web.Areas.Member.Models.ForgetPasswordViewModel

@{
    ViewBag.Title = "找回登录密码";
}
<div class="findpwbg body-content main-content">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VerificationCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VerificationCode)
                    <input type="button" class="btn btn-default" value="获取验证码" id="getCode" style="color:black"/>
                    @Html.ValidationMessageFor(model => model.VerificationCode)
                    <span id="success"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="找回登录密码" class="btn btn-default" id="up" style="background-color:orangered" />
                </div>

            </div>
        </div>
    }

    <div class="row">
        <div class="pull-left">@Html.ActionLink("返回登录", "Login", "User")</div>
        <div class="pull-right">@Html.ActionLink("没有TTG账号?", "Register", "User")</div>
    </div>
</div>
<script type="text/javascript">
       $("#getCode").click(function () {

           //var p = $('#PhoneNumber').val();
           if (isPoneAvailable($('#PhoneNumber')) == false) {
               $('#success').text("请输入合适的手机号");
           }
           else {
               @* $.post("url",{key:"value",..},function(data){},datatype) *@
               $.post("@Url.Action("GetCheckNum", "User")", { phoneNum: $('#PhoneNumber').val() }, function (data) {
                   if (data.msg) {
                       $('#success').text("已发送验证码");
                       checkGetCodeBtn();

                   } else {
                       var $getCodeBtn = $('#getCode');
                       clearInterval(t);
                       $getCodeBtn.prop('disabled', false);
                       $getCodeBtn.val("点击获取验证码");
                       count = 60;
                       $('#success').text("");
                       alert(data.content);
                       alert(2);
                   }
               }, "json")
           }
           });
       var count = 60; //计时开始
       var t; //时间间隔种子
       var isPass = false;//验证码是否输入正确
       function checkGetCodeBtn() {
           //关于按钮
           var $getCodeBtn = $('#getCode');

           t = setInterval(function () {

               $getCodeBtn.val(count + "秒后获取");
               $getCodeBtn.prop('disabled', true);
               count--;

               if (count == 0) {
                   clearInterval(t);
                   $getCodeBtn.prop('disabled', false);
                   $getCodeBtn.val("获取验证码");
                   count = 60;
                   $('#success').text("");
               }
           }, 1000);
       }
       //判断是否为手机号
       function isPoneAvailable($poneInput) {
           var myreg = /^[1][3,4,5,6,7,8,9][0-9]{9}$/;
           if (!myreg.test($poneInput.val())) {
               return false;
           } else {
               return true;
           }
       }
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
