@using TTG.Core;
@{
    ViewBag.Title = "TTG虚拟货币交易平台";
}


    <div id="myCarousel" class="carousel slide" style="width:100%;padding:0">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner" style="width:100%">
            <div class="item active">
                <img src="~/img/lp1.png" class="img-responsive" style="width:100%">
            </div>
            <div class="item">
                <img src="~/img/lp2.png" class="img-responsive"style="width:100%" >
            </div>
            <div class="item">
                <img src="~/img/lp3.png" class="img-responsive" style="width:100%">
            </div>
            <div class="item">
                <img src="~/img/lp4.png" class="img-responsive" style="width:100%">
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


  <div style="background-color:black;">

    <div class="row">

        <ul class="nav navbar-nav " id="market">
           
           <li class="active btn" id="market1">ETH市场</li>
            <li  class="btn" id="market2">LTC市场</li>
            <li class="btn" id="market3">BTC市场</li>
       <li class="btn" id="market4">CNY市场</li>

        </ul>
    </div>
      
    <div id="grid" class="row"></div>
</div>
<img src="~/img/Footer-show.png" class="img-responsive" style="padding-bottom:5px;" />
   

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrapplugin")


<script>

    @* bootstrap table 若要更新数据 需 $table.bootstrap('load',data)
    data可通过ajax请求获取*@
    $(document).ready(function () {
        $("#myCarousel").carousel({ interval: 5000 });//每隔5秒自动轮播
        //表格
        var coin;
        var $table = $('#grid');
        $table.bootstrapTable({
            onClickRow: function (row) {
                $.post("@Url.Action("SaveCoin","CoinToCoin")", { _s: row.CoinToCoin });
            },
            //showFooter: true,
            method: "post",
            //search:true,
            url: "@Url.Action("ListJson","User", new { s = "ETH" })",
            columns: [
                { title: "交易对", field: "CoinToCoin", width: "200px" },
                { title: "最新价格", field: "Price", width: "200px" },
                { title: "24h最高", field: "MaxInDay", width: "200px" },
                { title: "24h最低", field: "MinInDay", width: "200px" },
                { title: "24h成交额", field: "VolumeInDay", width: "200px" },
                { title: "24h成交量", field: "AmountInDay", width: "200px" },
                { title: "涨幅%", field: "Up", width: "200px", formatter: function (value) { return (Math.round(value * 10000) / 100).toFixed(2) + '%'; } },
                { title: "去交易", field: "-》", width: "200px" ,formatter: function (value, row, index) { return '<a href="@Url.Action("Index", "CoinToCoin")"> 去交易</a>' } },

            ]
        });


        $("#market1").click(function () {

            $.ajax(
         {
             type: "post",@*mvc 默认jsonresult 只接收post请求，若要get 可在return json(..,JsonRequestBehavior.AllowGet)*@
             url: "@Url.Action("ListJson", "User", new { s = "ETH" })",
             contentType: 'application/json',
             dataType: "json",
             success: function (data) {
                 //要传入table的数据值
                 //bootstrap-Table获取数据
                 $table.bootstrapTable('load', data);
                 //finishingTask为table的id $("#finishingTask").bootstrapTable('load',data);
             },
             error: function () {
                 alert("错误");
             }
         }
     )


        });
        $("#market2").click(function () {
            $.ajax(
      {
          type: "post",@*mvc 默认jsonresult 只接收post请求，若要get 可在return json(..,JsonRequestBehavior.AllowGet)*@
          url: "@Url.Action("ListJson", "User", new { s = "LTC" })",
          contentType: 'application/json',
          dataType: "json",
          success: function (data) {
              //要传入table的数据值
              //bootstrap-Table获取数据
              $table.bootstrapTable('load', data);
              //finishingTask为table的id $("#finishingTask").bootstrapTable('load',data);
          },
          error: function () {
              alert("错误");
          }
      }
            )
        })
        $("#market3").click(function () {
            $.ajax(
      {
          type: "post",@*mvc 默认jsonresult 只接收post请求，若要get 可在return json(..,JsonRequestBehavior.AllowGet)*@
          url: "@Url.Action("ListJson", "User", new { s = "BTC" })",
          contentType: 'application/json',
          dataType: "json",
          success: function (data) {
              //要传入table的数据值
              //bootstrap-Table获取数据
              $table.bootstrapTable('load', data);
              //finishingTask为table的id $("#finishingTask").bootstrapTable('load',data);
          },
          error: function () {
              alert("错误");
          }
      }
          )
        })
        $("#market4").click(function () {
            $.ajax(
      {
          type: "post",@*mvc 默认jsonresult 只接收post请求，若要get 可在return json(..,JsonRequestBehavior.AllowGet)*@
          url: "@Url.Action("ListJson", "User", new { s = "CNY" })",
          contentType: 'application/json',
          dataType: "json",
          success: function (data) {
              //要传入table的数据值
              //bootstrap-Table获取数据
              $table.bootstrapTable('load', data);
              //finishingTask为table的id $("#finishingTask").bootstrapTable('load',data);
          },
          error: function () {
              alert("错误");
          }
      }
          )
        })


    });
    //表格结束

</script>
    }

