@model TTG.Web.Areas.Member.Models.C2CViewModel

@{
    ViewBag.Title = "C2C交易";
}
<div class="main-content">
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <div class="row">
                <h3 style="margin-left:30px">卖出 CNYX</h3>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.C2CPrice)
                            <br />
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.C2CPrice, new { htmlAttributes = new { @class = "form-control",placeholder="0.99",readOnly="true" } })
                                @Html.ValidationMessageFor(model => model.C2CPrice, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Amount)
                            <br />
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                       

                        <div class="form-group">
                            @Html.LabelFor(model => model.C2CPassword)
                            <br />
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.C2CPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.C2CPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="确认卖出CNYX->CNY" class="btn btn-default" style="color:green" />
                            </div>
                        </div>
                    </div>
                }
                <h6 style="margin-left:30px">本服务由认证商家提供</h6>
            </div>
        </div>

        <div class="col-md-3">
            <h3 style="color:red">温馨提示:</h3>
            <p>当前暂停C2C买入服务</p>
            <pre>
1. 商家处理时间为9:00 - 21:00，非处理时间的订单会在第二天9:00开始处理，一般接单后24小时内会完成打款。 当前收款账号默认选取您第一次绑定的银行卡。
2. 如果你的交易24小时内没有处理，请联系在线客服登记。会有专人24小时内与您联系，请保持手机畅通；
3. 每天最多只能发起10笔卖出订单.
            </pre>

        </div>
    </div>
</div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrapplugin")

    <script type="text/javascript">
        //成功提示框
        $.showSuccessTimeout = function(str, func) {
            BootstrapDialog.show({
                type : BootstrapDialog.TYPE_SUCCESS,
                title : '成功 ',
                message : str,
                size : BootstrapDialog.SIZE_SMALL,
                buttons : [ {
                    label : '确定',
                    action : function(dialogItself) {
                        dialogItself.close();
                    }
                } ],
                // 指定时间内可自动关闭
                onshown : function(dialogRef) {
                    setTimeout(function() {
                        dialogRef.close();
                    }, YUNM._set.timeout);
                },
                onhide : func
            });
        };
          
        if(@ViewBag.Success==1) $.showSuccessTimeout("卖入成功");

    </script>
}
