
@{
    ViewBag.Title = "资产中心";
}
<div class="row main-content">
    <div class="col-md-3">

        @Html.Partial("SideNav")

    </div>
    <div class="col-md-9">
        <h5>我的资产</h5>
  
        <div id="MyAssets"></div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrapplugin")
    <script>
    $(document).ready(function () {
        var $MyAssets = $('#MyAssets');
        //在bootstrapTable上添加按钮事件 需要在内添加onLoadSuccess:function添加
        $MyAssets.bootstrapTable(
            {
                onClickRow: function (row) { $.post("@Url.Action("SaveWalletID")", { id: row.WalletID, amount: row.Amount }); alert(row.Amount);},
                method: "post",
                url: "@Url.Action("AssetsJson")",
               
                columns: [
                    {title:"钱包ID",field:"WalletID",hidden:true},
                    {title:"货币名称",field:"CoinName",width:160},
                    { title: "数量", field: "Amount", width: 160 },
                    { title: "操作", field: "", width: 260, formatter: function (value, row, index) { return "<button  class='in btn btn-success'>充值</button> <button class='out btn btn-danger' >提现</button> " } },
                ],
                onLoadSuccess: function () {
                    //$('.in').click(function () {
             
                    //var addDialog = new BootstrapDialog({
                    //    title: 'TTG提示',
                    //    message: "钱包维护中，暂停充值",
                    //    buttons: [{
                    //        label: '确定',
                    //        action: function (dialogItself) {
                    //            dialogItself.close();
                    //        }
                    //    }],
                    //});
                    //addDialog.open();
                    // });
                    $('.in').click(function () {
                        var addDialog = new BootstrapDialog({
                            title: "<span class='glyphicon glyphicon-plus'></span>充值",
                            message: function (dialog) {
                                var $message = $('<div></div>');
                                var pageToLoad = dialog.getData('pageToLoad');
                                $message.load(pageToLoad);
                                return $message;
                            },
                            data: {
                                'pageToLoad': '@Url.Action("AddInPartialView")'

                            },
                            buttons: [{
                                icon: "glyphicon glyphicon-plus",
                                label: "充值",
                                action: function (dialogItself) {
                                    $.post($('#In').attr("action"), $('#In').serializeArray(), function (data) {
                                        if (data.Code == 1) {
                                            BootstrapDialog.show({
                                                message: data.Message,
                                                buttons: [{
                                                    icon: "glyphicon glyphicon-ok",
                                                    label: "确定",
                                                    action: function (dialogItself) {
                                                        dialogItself.close();
                                                        addDialog.close();
                                                    }
                                                }]

                                            });
                                        }
                                        else BootstrapDialog.alert(data.Message);
                                    }, "json");
                                    $('#In').validate();
                                }
                            }, {
                                icon: "glyphicon glyphicon-remove",
                                label: "取消",
                                action: function (dialogItself) {
                                    dialogItself.close();
                                }
                            }]
                        });
                        addDialog.open();
                    });
                    $(".out").click(function () {
                      
                        var addDialog = new BootstrapDialog({
                            title: "<span class='glyphicon glyphicon-plus'></span>提现",
                            message: function (dialog) {
                                var $message = $('<div></div>');
                                var pageToLoad = dialog.getData('pageToLoad');
                                $message.load(pageToLoad);
                                return $message;
                            },
                            data: {
                                'pageToLoad': '@Url.Action("AddOutPartialView")'

                            },
                            buttons: [{
                                icon: "glyphicon glyphicon-plus",
                                label: "确定",
                                action: function (dialogItself) {
                                    $.post($('#Out').attr("action"), $('#Out').serializeArray(), function (data) {
                                        if (data.Code == 1) {
                                            BootstrapDialog.show({
                                                message: data.Message,
                                                buttons: [{
                                                    icon: "glyphicon glyphicon-ok",
                                                    label: "确定",
                                                    action: function (dialogItself) {
                                                        dialogItself.close();
                                                        addDialog.close();
                                                    }
                                                }]

                                            });
                                        }
                                        else BootstrapDialog.alert(data.Message);
                                    }, "json");
                                    $('#Out').validate();
                                }
                            }, {
                                icon: "glyphicon glyphicon-remove",
                                label: "取消",
                                action: function (dialogItself) {
                                    dialogItself.close();
                                }
                            }]
                        });
                        addDialog.open();

                    });

                    //$(".out").click(function () {
                     
                    //    var addDialog = new BootstrapDialog({
                    //        title: 'TTG提示',
                    //        message: "节点维护中，暂停提现",
                    //        buttons: [{
                    //            label: '确定',
                    //            action: function (dialogItself) {
                    //                dialogItself.close();

                    //            }
                    //        }],
                    //    });
                    //    addDialog.open();
                    //});
            }
            }
        );
   

        
    });
    </script>
    }