<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -TTG虚拟货币交易平台</title>
    @Styles.Render("~/Content/frontcss")
    @RenderSection("style", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
   <link href="~/Content/FrontStyle.css" rel="stylesheet" />
  
    <script type="text/javascript">
			function run(){
				var myDate=new Date();
				var nowtime=myDate.toLocaleString();
				document.getElementById('t').innerHTML=nowtime+"  UTC+8";
				setTimeout("run()",200);
			}
    </script>
</head>
<body onload="run()">
    <div class="row" id="FirtRow">
        <div class="col-md-6">
            <img src="~/img/connection.png" /><span>已连接</span>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/img/Timer.png" />
            <span id="t"></span>
        </div>

        <div class="col-md-6">
            <a href="#" class="pull-right text-muted" >公告中心&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </div>
    </div>
    <nav class="navbar navbar-default " style="background-color:white">
        <!-- nav-header添加头部 brand文本更大一些 -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
        <!-- nav navbar-nav实现列表的水平排列 -->
        <ul class="nav navbar-nav ">
            <li style="margin-bottom:5px;"><a href="@Url.Action("Index","User")"><img src="~/img/Logo.png" />TTG</a></li>
            <li><a href="@Url.Action("Index","User")">首页</a></li>
            <li><a href="@Url.Action("Index","CoinTOCoin")">币币交易</a></li>
            <li><a href="@Url.Action("Index","C2C")">C2C交易</a></li>
            <li><a href="@Url.Action("Assets","PersonalCenter")">资产中心</a></li>
            
            
        </ul>
        <ul class="nav navbar-nav navbar-right">
            @*判断session是否存在 需要 try {if(Context.Session["UserName"].ToString() != null)..}catch{else操作}*@
            @*因为session不存在时无实例化 所以直接判断会引发错误！！！*@
            @try
            {
                if (Context.Session["UserName"].ToString() != null)
                {
                    <li class="dropdown">
                        <a href="@Url.Action("Index","EntrustDoc")"><span class="glyphicon glyphicon-user"></span>委托记录</a>
                       
                    </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>Hi,@Context.Session["UserName"].ToString()<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index","PersonalCenter")">我的账户</a></li>
                        <li><a href="@Url.Action("Logout", "User")">退出</a></li>
                    </ul>
                </li>
               
                }

            }
            catch {
            <li>
            <a href="@Url.Action("Login", "User")" class="btn-lg"> 登录</a>
            </li>
            <li>
                <a href="@Url.Action("Register", "User")" class="btn-lg">注册</a>
            </li>
            }
        </ul>
    </nav>
     @RenderBody()
        @*<div  style="padding-bottom:1px;" class="main-content">*@
            
    @*<div class="row">
           <div class="col-lg-12 col-md-12 col-sm-12"></div>
            </div>*@ 
        @*</div>*@
    <footer @*class="navbar navtext-center @*bg-primary"*@ style="background-color:black;">
        <div style="background-color:#121b21">
            <div class="row "><div class="col-md-4 "><img src="~/img/Logo2.png" /><b>TTG</b></div><div class="col-md-2"><span><b>产品</b></span></div><div class="col-md-2"><span><b>关于</b></span></div><div class="col-md-2"><span><b>声明</b></span></div><div class="col-md-2"><span><b>支持中心</b></span></div></div>
            <div class="row"><div class="col-md-4"><b>High-performance Industry</b></div><div class="col-md-2"> <a href="@Url.Action("Index","CoinToCoin")" class="text-muted">交易平台</a></div><div class="col-md-2"><a href="@Url.Action("AboutWe","User")" class="text-muted">关于我们</a></div><div class="col-md-2"><a href="@Url.Action("ServiceProtocol","User")" class="text-muted">服务协议</a></div><div class="col-md-2"><a href="@Url.Action("Application","User")" class="text-muted">上市申请</a></div></div>
            <div class="row"><div class="col-md-4"><b>Support Token Exchange</b></div><div class="col-md-2"><a href="https://etherscan.io/?lang=zh_Hans_CN" class="text-muted">区块链浏览器</a></div><div class="col-md-2"><a href="@Url.Action("JoinWe","User")" class="text-muted">加入我们</a></div><div class="col-md-2"><a href="@Url.Action("PrivacyProtocol","User")" class="text-muted">隐私协议</a></div><div class="col-md-2"><a href="@Url.Action("AboutWe","User")" class="text-muted">客服支援</a></div></div>
            <div class="row"><div class="col-md-4"></div><div class="col-md-2"><a href="https://www.rankcoin.com/?lang=zh_Hans_CN" class="text-muted">RANKCOIN数据中心</a></div><div class="col-md-2"><a href="@Url.Action("AboutWe","User")" class="text-muted">关于TTG</a></div><div class="col-md-2"><a href="@Url.Action("Rate","User")" class="text-muted">平台费率</a></div><div class="col-md-2"><a href="#" class="text-muted">API文档</a></div></div>
        </div>
        <p>&copy;TTG</p>
    </footer>
</body>

</html>