
<div class="list-group">
  <b>资产中心</b>
    <a class="list-group-item " href="@Url.Action("Assets")">我的资产</a>
    <a class="list-group-item " href="@Url.Action("Bill")">账单</a>
    <a class="list-group-item " href="@Url.Action("Assets")">银行卡绑定</a>
</div>

<div class="list-group">
    <b>安全中心</b>
    <a class="list-group-item " href="@Url.Action("ChangePW")">修改密码</a>
    <a class="list-group-item " href="@Url.Action("ChangeTransactionPw")">交易密码</a>
</div>